* {
    font-family: monospace;
    --primary-color : #261e7d;
    --bg-color : #fff;
    --text-color : #3d3d3d;
    --delete-error : #df005b;
}

.m-0{
    margin : 0;
}

.m-5{
    margin : 5px
}

.m-16 {
    margin:16px;
}

.m-top-1em{
    margin-top:1em;
}

.p-0{
    padding : 0;
}

.p-5{
    padding:5px;
}

.p-top-8{
    padding-top: 8px;
}

.p-bottom-8{
    padding-bottom: 8px;
}

.p-top-12{
    padding-top: 12px;
}

.p-bottom-12{
    padding-bottom: 12px;
}

.p-left-12{
    padding-left: 12px;
}

.p-right-12{
    padding-right: 12px;
}

.p-left-5{
    padding-left: 5px;
}

.p-right-5{
    padding-right: 5px;
}

.p-left-12{
    padding-left: 12px;
}

.p-left-20{
    padding-left: 20px;
}

.p-right-20{
    padding-right: 20px;
}

.list-none {
    list-style:none;
}

.flex {
    display:flex;
}

.justify-center {
    justify-content:center;
}

.align-center {
    align-items: center;;
}

.flex-column {
    flex-direction:column;
}

.border-box {
    box-sizing: border-box;
}

.justify-between {
    justify-content:space-between;
}

.border-radius-3 {
    border-radius : 3px;
}

.border-none{
    border : none;
}

.outline-none {
    outline : none;
}

.cursor-pointer {
    cursor : pointer;
}

.text-white {
    color:white;
}

.underline{
    text-decoration:underline;
}

.w-36{
    width:36px;
}

.h-36{
    height:36px;
}

body{
    background-color:var(--bg-color);
    color : var(--text-color);
}

header{
    box-shadow : 0 4px 2px -2px rgb(128 128 128 / 20%);
}

li{
    background-color: white;
    width: 70vw;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
    border : 1px solid var(--primary-color);
}

button{
    width : 100px;
}

button:hover , button.selected {
    background: var(--primary-color);
    color:white;
}

img {
    margin : 0 8px
}

input{
    width:50vw;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
    border : 1px solid var(--primary-color);
}

.container {
    width:100vw;
}

.task-name{
    flex-basis:75%;
    font-size : 1.25em;
}

.task-name:focus-visible{
    outline : none;
    background-color : var(--bg-color);
}

.dev-name , .company-name{
    font-size: 1.5em;
    color:var(--primary-color);
}

.status-container {
    width : 225px;
    margin: 0 8px;
}

.link-delete {
    color:var(--delete-error);
    background-color:transparent;
    font-weight : bold;
}

.bold {
    font-weight: bold;
}

.hide {
    display : none;
}
